.landing-wrapper {
  flex: 8;
}

.landing-container {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
}

.landing-body {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 700px; /* this is only for the demo purposes*/
  /* box-shadow: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a; */
  border-radius: 0.5rem;
}

.landing-upper-area {
  background-color: #f3f3fe;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-header {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  max-width: 80%;
}

.landing-divider {
  width: 80%;
  border-top: 3px solid #979dc6;
  align-self: center;
}

.landing-lower-area {
  flex: 3;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-container {
  display: flex;
  flex-direction: column;
  color: #6f76a7;
  flex-grow: 1;
  flex-basis: 0;
  gap: 1rem;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  align-items: center;
}

.project-header {
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-description {
  margin-bottom: 2rem;
}
