.btn {
  min-width: 3rem;
  min-height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-weight: 500;
  padding: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.success {
  background-color: #37c768;
}

.success:hover {
  background-color: #007b2a;
}

.danger {
  background-color: #f87171;
}

.danger:hover {
  background-color: #c90909;
}

.default {
  color: #000000;
}

.default:hover {
  color: #ffffff;
  background-color: #37c768;
}

.lg {
  font-size: 0.9375rem;
  line-height: 1.75;
  min-width: 64px;
  padding: 12px 26px;
}

.disabled {
  cursor: auto;
  background-color: rgb(211, 218, 229);
  color: rgb(57, 66, 88);
}
