.form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.form-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a;
  border-radius: 0.5rem;
}

.upper-form-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f3f3fe;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 4rem;
}

.model-title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  max-width: 80%;
}

.model-subtitle {
  padding-top: 1rem;
  font-weight: bold;
  color: #6f76a7;
}

.form-divider {
  width: 80%;
  border-top: 3px solid #979dc6;
  align-self: center;
}

.lower-form-area {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-components {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
  width: 80%;
  margin: auto;
}

.output-area {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
