.skeleton-wizard-wrapper {
  flex: 8;
}

.skeleton-wizard-container {
  margin: 0.75rem;
  padding: 0.75rem;
}

.skeleton-info-container {
  display: flex;
  justify-content: space-between;
}

.skeleton-info-group {
  display: flex;
}

.skeleton-card-container {
  display: flex;
  background-color: #f3f3fe;
  border-radius: 0.375rem;
  box-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
  margin: 2rem;
  padding: 1.5rem; /* 24px */
  min-width: 12rem; /* 192px */
  cursor: pointer;
}

.skeleton-icon-area {
  border-radius: 0.375rem;
  width: 2.5rem;
  max-width: 2.5rem;
  margin-right: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.skeleton-model {
  background-color: #0a1551;
}

.skeleton-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skeleton-form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.skeleton-form-body {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 1000px; /* this is only for the demo purposes*/
  box-shadow: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a;
  border-radius: 0.5rem;
}

.skeleton-upper-form-area {
  background-color: #f3f3fe;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-model-name {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  max-width: 80%;
}

.skeleton-form-divider {
  width: 80%;
  align-self: center;
}

.skeleton-lower-form-area {
  flex: 3;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: #c8ceed;
  }

  100% {
    background-color: #f3f3fe;
  }
}
