.navbar-wrapper {
  display: flex;
  z-index: 2;
  align-items: center;
  top: 0;
  position: sticky;
  height: 4.5rem; /* 72px */
  width: 100%;
  background-color: #0a1551;
  overflow: hidden;
}

.navbar-left {
  flex: 3;
}

.logo-container {
  display: flex;
  align-items: center;
}

.project-name {
  color: white;
  margin-left: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.navbar-logo {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  max-height: 3.75rem;
  margin-left: 15px;
}

.navbar-center {
  flex: 5;
}

.navbar-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.navbar-icons {
  display: flex;
  align-items: flex-end;
}

.profile-area {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.navbar-profile-picture {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 3px solid #f87171;
}
