.sidebar-wrapper {
  flex: 2;
  height: calc(100vh - 4.5rem);
  position: sticky;
  top: 4.5rem;
  background-color: #f3f3fe;
}

.sidebar-container {
  margin-top: 0.75rem; /* 12px */
  padding: 0.75rem;
  font-weight: 600;
}

.sidebar-menu-text {
  color: #6f76a7;
}

.navigation-container {
  margin-top: 0.75rem;
  padding: 0;
}

.navigations {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #6f76a7;
}

.current-navigation {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  background-color: #c8ceed;
  border-radius: 0.5rem; /* 8px */
}

.navigation {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.navigation:hover {
  background-color: #c8ceed;
  border-radius: 0.5rem; /* 8px */
}

.nav-icon {
}

.nav-name {
  margin-left: 0.5rem; /* 8px */
}
