.submit-area-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-top: 150px;
  box-shadow: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a;
  border-radius: 0.5rem;
  background-color: #f3f3fe;
}

.options-wrapper {
  margin-bottom: 30px;
}
