.upload-model-area {
  border-radius: 8px;
  display: flex;
  padding: 1rem;
  background-color: #e8f5e9;
  color: #153816;
  font-weight: 500;
  position: relative;
}

.upload-model-area:hover {
  background-color: #8cb88e;
}

.upload-model-text {
  margin-right: 1rem;
  align-self: center;
}

.input-file-upload {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.input-file-upload:hover {
  cursor: pointer;
}
