.guideWrapper {
  min-width: 40em;
}

.guideContainer {
  margin-top: 3rem;
  padding: 0rem;
  display: flex;
}

.guideBody {
  display: flex;
  flex-direction: column;
  min-width: 40em;
  box-shadow: 0px 2px 4px -2px #1018280f, 0px 4px 8px -2px #1018281a;
  border-radius: 0.5rem;
}

.guideUpperArea {
  background-color: #f3f3fe;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.guideHeader {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  max-width: 80%;
}

.guideDivider {
  width: 80%;
  border-top: 3px solid #979dc6;
  align-self: center;
}

.guideLowerArea {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guideStepList {
  font-weight: bold;
  color: #6f76a7;
}

.guideStepList li {
  margin: 1rem;
}

.uploadContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.existingModelArea {
  color: #2a0909;
  font-weight: 500;
}

.existingModelArea:hover {
  cursor: pointer;
  text-decoration: underline;
}
