.image-container {
  display: flex;
}

.upload-area {
  display: flex;
  flex-direction: column;
}

.upload-file {
  margin-bottom: 1rem;
}

.uploaded-image {
  height: 480px;
  width: 640px;
  object-fit: contain;
}

.predictions-area {
  display: flex;
  flex-direction: column;
}

.prediction {
  display: flex;
  flex-direction: column;
}
